* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 340px;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 28px;
}

#display {
    width: 100%;
    height: 100px;
    background: #1c1c1c;
    color: white;
    border: none;
    outline: none;
    font-size: 42px;
    text-align: right;
    padding: 20px 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 65px;
    border: none;
    border-radius: 50%;
    background: #333;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #e88900;
}

.special {
    background: #a5a5a5;
    color: black;
}

.zero {
    grid-column: span 2;
    border-radius: 35px;
    text-align: left;
    padding-left: 27px;
}

.equal {
    background: #ff9500;
}